@font-face {
  font-family: "思源宋体 Medium";font-weight: 500;src: url("//at.alicdn.com/wf/webfont/1yluqAfeMyKw/Gq4plh07QISHhes-PPOGH.woff2") format("woff2"),
url("//at.alicdn.com/wf/webfont/1yluqAfeMyKw/yQJPuAphg6XHBHJxUU7ef.woff") format("woff");
  font-display: swap;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a{
  text-decoration: none;
}